<div class="container-form-account">
    <div class="container-account">
        <div class="profile-avatar">
            <% if @user.avatar.attached? %>
                <%= image_tag (@user.avatar), class:'rounded-circle', size: '200x200'  %>
            <% end %>
        </div>
        <div class="profile-title">
            <h2 class="d-flex">Your account
            <%= link_to edit_user_registration_path, class:"icon-edit" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %></h2>

        </div>
        <div class="profile-information">
            <div class="row w-100">
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start fw-bold">First name</div>
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start  text-break"><%= current_user.first_name %></div>
            </div>
            <div class="row w-100">
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start fw-bold">Last name</div>
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start  text-break"><%= current_user.last_name %></div>
            </div>
            <div class="row w-100">
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start fw-bold">Username</div>
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start text-break"><%= current_user.username %></div>
            </div>
            <div class="row w-100">
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start fw-bold">Email</div>
                <div class="col w-50 mx-2 my-3 d-flex justify-content-start  text-break "><%= current_user.email %></div>
            </div>
            <div class="row w-100 d-flex flex-column align-items-center">
                <div class="col w-50 mx-2 d-flex justify-content-center"><%= pluralize(@followers_count, "Followers") %></div>
                <div class="col w-50 mx-2 d-flex justify-content-center">
                <% if @followers.present? %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#followeesModal">
                    <i class="bi bi-eye-fill icon-view"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="followeesModal" tabindex="-1" aria-labelledby="followeesModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="followeesModalLabel"><%= pluralize(@followers_count, "Followers") %></h1>
                                <button type="button" class="btn-closFollowe" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex flew-column">
                                <% @followers.each do |f| %>
                                    <div class="d-flex flex-row align-items-center">
                                        <%= image_tag (@user.avatar), class:'rounded-circle', size: '80x80'  %>
                                        <%= link_to f.follower.username, profile_path(f.follower.id) %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
           </div>
        </div>
    </div>
</div>