  <%= turbo_frame_tag post do %>
  <div class="col">
    <div class="card-image">
          <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
                <%= image_tag (post.image), class:'img-fluid img-thumbnail' if post.image.attached? %>
          <% end %>

      <div class="card-information">
        <div class="card-title">
            <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
              <h3 class="title"><%= post.title.upcase %></h3>
            <% end %>

          <% if current_user === post.user  %>
            <%= button_to post_path(post.id), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "icon-delete" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            <% end %>
          <% end %>
        </div>

          <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
            <h4 class="subtitle"><%= post.category.name %></h4>
            <p class="date"><%= post.created_at.strftime("%d/%m/%Y")%></p>
          <% end %>

      </div>
    </div>   
  </div>
<% end %>