<div class="container container-posts">
    <div class="index-title py-5">
      <h1>Posts</h1>
      <%  if can? :create, Post %>
        <%= link_to new_post_path, data: { turbo_frame: dom_id(Post.new) } do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        <% end %> 
      <% end %>
    </div>
    
  <%= turbo_frame_tag Post.new do %>
    <% if @posts.nil? %>
      <%= render "posts/empty_state" %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "posts" do %>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <%= render @posts %>
    </div>
  <% end %>
</div>
<% if @pagy.count > @pagy.items %>
  <div class="pag-bar mt-5 pt-5">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>_